{
  "extends": ["alloy", "alloy/react", "alloy/typescript"],
  "plugins": ["react-hooks"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/explicit-member-accessibility": "off"
  },
  "globals": {
    "sr": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
